/tests export-ignore
/scripts export-ignore
/circle.yml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/codacy.yml export-ignore
/phpcs.xml export-ignore
/CLAUDE.md export-ignore